# Copy this file and rename it to .env
# Fill in your Supabase connection string below
# Never share this file or upload it to GitHub!

DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT.supabase.co:5432/postgres
SECRET_KEY=choose_any_random_secret_string_here
